
.start_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-bullets {
    list-style-type: none; 
    padding: 0; 
   
  }
.card-style{
    margin: 10 auto;
}
.footer-text{
    text-align: center;
}
.label-text{
    font-weight: bold;
    padding-right: 1%;
}
.input-text{
    padding-left: 1%;
}
